name: Build PVP

on:
  push:
    branches:
      - 'main'
      - 'dev/*'
    paths:
      - 'apps/mopspvps/**'

jobs:
  build-plugin:
    name: build-plugin
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.1
      - name: Set up JDK 18
        uses: actions/setup-java@v3.1.1
        with:
         java-version: '18'
         distribution: 'zulu'
         cache: maven
      - name: 'Install libs and build PVP'
        run: mvn install --projects :mopsbase,:mopselements,:mopspvps
      - name: 'ЭКСПЕРИМЕНТЫ'
        run: rm -rf ./
      - name: 'Upload .jar artefact of plugin'
        uses: actions/upload-artifact@v3.0.0
        with:
         name: MopsPVP Plugin JAR
         path: apps/mopspvps/target/mopspvps.jar
